<div class="authorization-wrapper">
  <div class="form-logo">
    <img src="assets/logo.png" alt="Codemos">
    <div class="logo-title">codemos</div>
  </div>
  <h1 class="welcome-text" translate>
    Welcome to Codemos World, <br> you need to register to access the platform
  </h1>
  <div class="card form-box">
    <form [formGroup]="loginForm" class="card-body">
      <h2 class="form-title" translate>Login</h2>
      <div class="form-group">
        <label for="email-field" translate class="category">Email</label>
        <input class="form-control" id="email-field" formControlName="email" type="text" name="email"
               [ngClass]="{'error-input': loginForm.get('email').invalid && loginForm.get('email').touched}">
        <span *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched" class="error"
              translate>{{ VALIDATIONS.email.required.errorMessage }}</span>
        <span
          *ngIf="loginForm.get('email').hasError('validEmail') && !loginForm.get('email').hasError('required') && loginForm.get('email').touched"
          class="error" translate>{{ VALIDATIONS.email.regex.errorMessage }}</span>
        <span
          *ngIf="loginForm.get('email').hasError('maxlength') && !loginForm.get('email').hasError('required') && !loginForm.get('email').hasError('email') && loginForm.get('email').touched"
          class="error" translate>{{ VALIDATIONS.email.maxLength.errorMessage }}</span>
      </div>

      <div class="form-group">
        <label for="password-field" translate class="category">Password</label>
        <input class="form-control" id="password-field" formControlName="password" type="password" name="password"
               [ngClass]="{'error-input': loginForm.get('password').invalid && loginForm.get('password').touched || credsErrorMessage}">
        <span *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched" class="error"
              translate>{{ VALIDATIONS.password.required.errorMessage }}</span>
        <span *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched" class="error"
              translate>{{ VALIDATIONS.password.minLength.errorMessage }}</span>
        <span *ngIf="loginForm.get('password').hasError('maxlength') && loginForm.get('password').touched" class="error"
              translate>{{ VALIDATIONS.password.maxLength.errorMessage }}</span>
      </div>
      <div class="remember">
        ​<input id="checkbox" type="checkbox" formControlName="rememberMe">
        <label for="checkbox" translate>Remember Me</label>​​​​​​​​​​​​​​​​​​​​​​​​​​
      </div>
      <span *ngIf="credsErrorMessage" class="error">{{ credsErrorMessage }}</span>
      <div class="buttons-actions">
        <button (click)="onSubmit()" [disabled]="!loginForm.valid || isLocked" class="btn btn-outline" translate>
          {{ LABELS.SIGN_IN }}
        </button>
        <button type="button" (click)="navigateToSignUp()" class="btn btn-outline" translate>
          {{ LABELS.SIGN_UP }}
        </button>
      </div>
      <div class="forgot-password">
        <a [routerLink]="ROUTES.forgot" class="forgot-password-link" translate>Forgot password?</a>
      </div>
      <cd-social-buttons></cd-social-buttons>

      <div class="link">
        <a [routerLink]="ROUTES.home" class="link-back" translate>Back to Map</a>
      </div>

    </form>

  </div>
  <div *ngIf="fromReset" class="from-reset" translate>{{ LABELS.FROM_RESET }}</div>
  <div class="bottom-page">
    <div class="language-container">
      <cd-language-switcher></cd-language-switcher>
    </div>
  </div>
  <div class="copyright-container">
    <a class="copyright-label" href="http://www.copyrightfrance.com/phtml/p_logo1_us.php" target="_blank">
      <img src="assets/copyright/unnamed.gif" alt="Copyright">
    </a>
  </div>
</div>
