<nav class="menu" *ngIf="projectTypes">
  <h2 class="menu-title" translate>Create</h2>
  <div #menuElement class="menu-items">
    <div *ngFor="let projectType of projectTypes" [ngClass]="{disabled: projectType.disabled}">
      <div class="menu-item" (click)="createProject(projectType.name)">
        <div class="category-item"
             [style.backgroundColor]="projectType.disabled ? 'gray' : projectType.color">
          <img class="category-icon" [src]="projectType.url" [alt]="projectType.name">
        </div>
        <span class="category-title"
              [style.color]="projectType.disabled ? 'gray' : projectType.color"
              translate>{{ projectType.name | titlecase }}</span>
      </div>
    </div>
    <div class="menu-hint">
      <img src="assets/svg/down-black.svg" alt="arrow down">
    </div>
  </div>
</nav>
