.page-container {
  margin-top: 40px;
  text-align: center;
}

.error-code {
  margin: 2vw 1vw;
  font-size: 5vw;
}

.error-text {
  margin-top: 20px;
  font-size: 4vw;
}

.buttons-actions {
  margin-top: 20px;
}
