@import '../../../../scss/base/mixin';

.attribution {

  &-content {
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.6px;
    line-height: 1.3;

    @include for-tablet-portrait-up {
      font-size: 18px;
    }

    @include for-tablet-landscape-up {
      font-size: 20px;
    }
  }

  &-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }

  &-list {
    margin-bottom: 30px;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        border-bottom: 1px solid;
        display: inline-block;
        transition: border-bottom-color 0.3s ease-in-out;

        &:hover,
        &:focus {
          border-bottom-color: transparent;
        }
      }
    }
  }
}

.buttons-actions {
  margin-bottom: 30px;
}
