import { BaseApi } from '../common/BaseApi';
import { ApiResponseObservable } from '../common/ApiResponseDto';
import { ApiRequestBuilder } from '../common/ApiRequestBuilder';
import { Dictionary } from '../../types';
import { Injectable } from '@angular/core';
import { ResponseContentType } from '@angular/http';

@Injectable()
export class {{className groupKey}}Api extends BaseApi {

  {{#each members}}

  /**
   * {{#if summary}}{{summary}}{{else}}{{operationId}}{{/if}}
   * @remarks {{#if description}}{{description}}{{else}}Operation handler for {{operationId}}{{/if}}
   {{#each parameters}}* @param { {{tsType this}} } {{name}}  {{/each}}
   * @param { Dictionary<string> } extraHeaders - additional HTTP headers to be added to HTTP request
   * @param { ResponseContentType } responseType - override default response content type
   **/
  public {{apiMethodName this}}({{#each parameters}}{{name}}: {{tsType this}}, {{/each}}extraHeaders?: Dictionary<string>, responseType?: ResponseContentType): {{tsType this.responses.200.schema}} {
    const queryParams: Dictionary<string> = {};
    const pathParams: Dictionary<string> = {};
    const rqBuilder = new ApiRequestBuilder(this.apiBaseUrl)
                  .withMethod('{{operationString}}')
                  .withPath(`{{pathDef.pathString}}`);
    {{#each parameters}}
    {{#compare in '==' 'query'}}
    if ({{name}}) {
      queryParams['{{name}}'] = String({{name}});
    }{{/compare}}
    {{#compare in '==' 'path'}}pathParams['{{name}}'] = String({{name}});{{/compare}}
    {{#compare in '==' 'body'}}
    if ({{name}}) {
      rqBuilder.withJsonBody({{name}});
    }
    {{/compare}}
    {{/each}}
    rqBuilder.withPathParams(pathParams)
             .withQueryParams(queryParams);
    if (extraHeaders) {
      rqBuilder.withExtraHeaders(extraHeaders);
    }
    if (responseType) {
      rqBuilder.withResponseType(responseType);
    }
    const request = rqBuilder.build();
    return this.performRequest(request);
  }

  {{/each}}
}

{{#each references}}
import { {{this}} } from '{{../options.modelsImportPath}}{{fileNameForClass this}}';
{{/each}}
