@import '../../../../scss/abstracts/variables',
'../../../../scss/base/mixin';

.page-header {
  font-size: 30px;
  text-align: center;
}

.about{
  &-list {
    font: 16px/1.3 $main-font;
    letter-spacing: 0.6px;

    @include for-tablet-portrait-up {
      font-size: 18px;
    }

    @include for-tablet-landscape-up {
      font-size: 20px;
    }
  }

  &-item {
    margin: 10px;
  }

  &-actions {
    margin: 15px 0;

    @include for-tablet-portrait-up {
      margin: 20px 0;
    }

    @include for-tablet-landscape-up {
      margin: 25px 0;
    }
  }
}
