<div class="authorization-wrapper">
  <div class="form-logo">
    <img src="assets/logo.png" alt="Codemos">
    <div class="logo-title">codemos</div>
  </div>
  <cd-forgot-password-form></cd-forgot-password-form>
</div>
