<div class="user-info">

  <div class="user-language">
    <cd-language-switcher></cd-language-switcher>
  </div>

  <div *ngIf="securityPrincipal" (click)="goToProfile()" class="user-avatar">
    <img src="assets/svg/user.svg" alt="Avatar">
  </div>

  <div *ngIf="securityPrincipal" class="user-name" (click)="goToProfile()">
    <p>{{ securityPrincipal.getPrincipalFirstName() }}</p>
    <p>{{ securityPrincipal.getPrincipalLastName() }}</p>
  </div>

  <div *ngIf="securityPrincipal" class="user-score">
    <cd-score></cd-score>
  </div>

  <div *ngIf="securityPrincipal" class="user-logout">
    <button class="btn btn-logout" type="button" (click)="logout()">
      <span translate>Logout</span>
    </button>
  </div>

  <div *ngIf="!securityPrincipal" class="user-login">
    <button class="btn btn-login" type="button" (click)="login()">
      <span translate>Sign In</span>
    </button>
  </div>

</div>
