@import '../../../../scss/components/helpers';

:host /deep/ {
  .view-mode-dialog {
    .ui-dialog {
      max-width: 550px !important;
      width: 100% !important;

      position: absolute;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
    }

    .ui-dialog .ui-dialog-titlebar-close {
      padding: 10px;
      top: 0;
      right: 0;
    }
  }
}
.view-mode-dialog {
  .card-body {
    padding-top: 5px !important;
  }

  .buttons-actions {
    flex-wrap: wrap;
  }
}
