.page-header {
  font-size: 30px;
  text-align: center;
}

.controls {
  text-align: center;
  margin-bottom: 30px;
}

.content {
  width: 1240px;
  margin: 20px auto;
  font-size: 30px;
  text-align: center;
}
.content p {
  line-height: 30px;
}

.image {
  width: 120px;
  height: 120px;
}
