<div [ngClass]="{'dialog-overlay': toggle}"></div>
<div [ngClass]="{'dialog-container': toggle}">
  <p-dialog
    [positionLeft]="dialogPositionLeft"
    [positionTop]="dialogPositionTop"
    (onHide)="onHide()"
    *ngIf="display"
    [visible]="display"
    class="impact-dialog open"
  >
    <p-header translate>

      <div class="card-header">
        <h1 class="card-category" translate>
          Predictive statistics
        </h1>
      </div>
    </p-header>

    <div class="card card-body">
      <h2 class="title title-project" translate>
        {{ project.name }}
      </h2>

      <!--project score-->
      <div class="project-score">
        <div class="project-rating">
          <div *ngIf="(project.performance !== null || project.performance !== undefined)">
            <span class="title-performance" translate>Performance:</span>
            <span *ngIf="isIE11">{{ project.performance }} {{ project.performance == 1 ? 'Star' : 'Stars' }}</span>
            <cd-star-rating [rating]="project.performance"></cd-star-rating>
          </div>
        </div>
        <div class="project-votes" *ngIf="project.underVoting">
          <span class="votes-count">{{ project.votesReceived }}</span>
          <span class="votes-title" translate>{{ project.votesReceived === 1 ? 'vote' : 'votes' }}</span>
        </div>
      </div>

      <h3 class="title title-bar" translate>Estimated project impact</h3>

      <div class="perf-values clearfix">

        <div class="perf-value-container">
          <cd-bar [width]="70" [height]="200" [value]="co2Percentage" [color]="'#763e9a'"></cd-bar>
          <div class="perf-title" [innerHTML]="'Reduction' | translate"></div>
          <div class="circle-container" id="co2Circle"></div>
          <div class="perf-value">{{ formatCo2(project.impact.co2Reduction) | number }}
            <div class="unit" translate>{{ co2Unit }}</div>
          </div>
        </div>

        <div class="perf-value-container">
          <cd-bar [width]="70" [height]="200" [value]="hoursSavedPercentage" [color]="'#05882c'"></cd-bar>
          <div class="perf-title" translate>Human life hours saved</div>
          <div class="circle-container" id="hoursSavedCircle"></div>
          <div class="perf-value">{{ formatHoursSaved(project.impact.liveHoursSaved) | number }}
            <div class="unit" translate>{{ hoursSavedUnit }}</div>
          </div>
        </div>

        <div class="perf-value-container">
          <cd-bar [width]="70" [height]="200" [value]="jobsCreatedPercentage" [color]="'#4059a9'"></cd-bar>
          <div class="perf-title" translate>Number of created jobs</div>
          <div class="circle-container" id="numJobsCircle"></div>
          <div class="perf-value">{{ project.impact.jobsCreated }}
            <div class="unit" translate>vacancies</div>
          </div>
        </div>
      </div>

      <div class="sdg">
        <h3 class="sdg-header" translate>Sustainable development goals</h3>
        <div class="sdg-list">
          <div class="sdg-item">
            <img *ngFor="let num of project.impact.sdg" [src]="'assets/sdg/' + num + '.jpg'" class="sdg">
          </div>
        </div>
      </div>

      <div class="message" *ngIf="showSubmitToVote">
        <p translate>Congrats! You can submit to vote and share!</p>
      </div>

      <div class="buttons">
        <button (click)="onShare()"
                [disabled]="isLocked"
                type="button" class="btn btn-outline btn-share">
          <span translate>Share</span>
        </button>
        <button *ngIf="showVote" (click)="onVote()"
                [disabled]="isLocked"
                type="button"
                class="btn btn-outline btn-vote" translate>
          <span translate>Vote</span>
        </button>
        <button *ngIf="showSubmitToVote" (click)="onShowConfirmDialog(project)"
                type="button" class="btn btn-outline btn-submit-vote" translate>
          <span translate>Submit To Vote</span>
        </button>
      </div>
    </div>


  </p-dialog>

  <cd-confirm-dialog
    [showDialog]="showConfirmDialog"
    [width]="500"
    [positionLeft]="positionLeftConfirm"
    [positionTop]="300"
    (cancel)="onHideConfirmDialog()"
    (confirm)="onSubmitToVote()"
    [headerText]="labels.SUBMIT_TO_VOTE"
    [confirmationText]="labels.CONFIRM_DIALOG.CONFIRMATION_TEXT"
    [confirmButtonText]="labels.SUBMIT_TO_VOTE"
    [cancelButtonText]="labels.CONFIRM_DIALOG.CANCEL_BUTTON_TEXT"
  >
  </cd-confirm-dialog>
</div>
