.controls {
  text-align: center;
  margin-top: 10px;
}


.form-box {
  padding: 30px;
  border-radius: 10px;
  border: 1px black solid;
}

.error-message {
  margin: 10px;
  color: red;
  max-width: 450px;
  text-align: center;
}
