@import '../abstracts/variables',
'../base/mixin';

.form {
  &-logo {
    max-width: 200px;
    width: 100%;
    margin: 20px auto;

    @include for-desktop-up {
      max-width: 250px;
    }

    img {
      width: 100%;
    }
  }

  &-box {
    border-radius: 10px;
    border: 1px black solid;
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;

    .form-control {
      padding: 5px 0;
      min-height: auto;
      margin: 0 0 5px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .back {
      margin-top: 5px;
      text-align: center;

      a {
        @extend .border-animation;
      }
    }

    .buttons-actions:last-child {
      margin-right: 0;
    }
  }

  &-title {
    font-family: $medium;
    font-size: 18px;
    margin: 0 0 10px;
    text-align: center;

    @include for-tablet-portrait-up {
      font-size: 24px;
    }

    @include for-tablet-landscape-up {
      font-size: 28px;
      margin: 0 0 15px;
    }
  }
}

.welcome-text {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 25px;
  font: 16px/1.3 $main-font;

  @include for-tablet-portrait-up {
    font-size: 18px;
  }

  @include for-tablet-landscape-up {
    font-size: 20px;
  }
}

.language{
  &-container {
    margin: 0 auto;
  }

  &-dropdown {
    width: 100px;
  }
}


.copyright-container {
  height: 100%;
  margin-top: 20px;
  text-align: center;
}

.authorization-wrapper {
  padding: 0 10px;
  max-height: 100vh;
  overflow-y: auto;
  background: #fff;
  min-height: 100%;
  z-index: 2;
}
