@import '../base/mixin',
'../abstracts/variables';

input,
.ui-inputtext {
  border: 1px solid map-get($form-colors, grey);
  font: 16px/1.2 $medium;
  outline: none;
  padding: 10px;
  transition: border-color 0.3s ease-in-out;
  background: map-get($colors, white);
  color: $def-font-color;

  &::-webkit-input-placeholder {
    color: map-get($form-colors, grey);
  }

  &:-moz-placeholder {
    color: map-get($form-colors, grey);
  }

  &::-moz-placeholder {
    color: map-get($form-colors, grey);
  }

  &:-ms-input-placeholder {
    color: map-get($form-colors, grey);
  }
}

.error-input {
  border-color: red;
}

.ui-inputtext:focus {
  box-shadow: inherit !important;
}

.ui-dialog .ui-dialog-content {
  padding: 0 !important;
}

.ui-dialog {
  max-width: 450px;
  width: 100% !important;
  border-radius: $border-dialog;
  box-shadow: $shadow-dialog;
}

.ui-dialog .ui-dialog-titlebar-close {
  @include position(absolute, 0 0 null null);
  transition: all 0.3s ease-in-out;
  font-size: 25px;
  padding: 10px;
  z-index: 20;

  &:hover {
    background: transparent;
    border-color: transparent;
    color: inherit;
  }
}

.ui-widget-header {
  background: transparent;
  border-color: transparent;
}

.ui-slider .ui-widget-content {
  border-color: map-get($form-colors, grey) !important;
  border-radius: 0;
}

button {
  &:disabled {
    opacity: 0.35;
    cursor: default;
  }
  &:focus {
    outline: none;
  }
}

.ui-dialog .ui-dialog-titlebar {
  padding: 10px !important;
}

.ui-calendar {
  display: block !important;
}

.ui-datepicker {
  .ui-datepicker-header {
    a {
      transition: background 0.1s ease-in-out;

      &:hover {
        background: map-get($form-colors, grey);
        border-color: map-get($form-colors, grey);
      }
    }
  }

  .ui-datepicker-calendar td:not(.ui-state-disabled) a:hover {
    background: map-get($form-colors, lightgrey);
    border-color: map-get($form-colors, lightgrey);
  }

  .ui-state-default {
    background: #dddfe1;
    transition: background 0.1s ease-in-out;
  }

  .ui-state-highlight {
    background: map-get($form-colors, grey);
    border-color: map-get($form-colors, grey);
  }
}

p-calendar {
  &.ng-invalid input {
    border: none !important;
    border-bottom: 2px solid red !important;
  }

  &.ng-untouched input,
  &.ng-valid input {
    border: none !important;
    border-bottom: 2px solid map-get($form-colors, lightgrey) !important;
  }
}

.slider-component {
  width: 100% !important;
  display: block !important;
  margin-top: 5px;

  .ui-widget-content {
    border-color: map-get($form-colors, grey) !important;
  }
  .ui-state-default {
    border-color: map-get($form-colors, grey) !important;
    background: map-get($form-colors, lightgrey);
  }

  .ui-slider-horizontal .ui-slider-handle {
    margin-left: -1em !important;
    transform: translateX(0.5em);
  }
}

.category {
  font: bold 14px/1.3 $bold;
  color: #53575a;
  display: inline-block;
  margin-right: 5px;

  @include for-tablet-portrait-up {
    font-size: 16px;
  }

  > span {
    margin-right: 5px;
    line-height: 1.3;
  }
}

.info-group,
.multiline-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.info-item {
  display: block;
  margin-bottom: 10px;
}

.desc-box {
  height: 40px;
  resize: vertical;
  max-height: 150px;
  overflow: hidden;
}

.preview-text {
  cursor: pointer;
  font-family: $medium;
}

.votes {
  color: #53585f;
  @include position(absolute, null null 10px 10px);
  z-index: 2;

  &-num {
    font-family: $bold;
    display: block;
    font-size: 20px;
  }

  &-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $medium;
  }
}

.impact {
  &-info {
    width: 50px;
    padding: 10px;
    @include position(absolute, null 0 10px null);
    z-index: 2;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }

  &-info-container {
    cursor: pointer;
  }
}

.card-performance-container {
  @include position(absolute, 10px 10px null null);
}

.arrow-down {
  position: relative;

  &:before {
    content: '';
    @include position(absolute, 50% 10px null null);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;

    border-top: 7px solid map-get($form-colors, grey);
    pointer-events: none;
  }
}

select {
  width: 100%;
  height: 38px;
  padding: 10px 10px 10px 0;

  border: none;
  border-bottom: 2px solid map-get($form-colors, lightgrey);
  /* remove border radius in Safari */
  border-radius: 0 !important;
  box-shadow: none;
  /* remove native browser shadows */
  background: #fff;

  /* equals to height for text centering */
  font: normal 16px/1 $light;
  letter-spacing: 0.6px;
  color: $def-font-color;

  &:focus {
    outline: none;
    border-bottom-color: darken(map-get($form-colors, grey), 50%);
  }
  &:disabled,
  &:read-only {
    opacity: 0.8;
    cursor: default;
    user-select: none;
    border-bottom: 2px solid map-get($form-colors, lightgrey);
  }

  &[required] {
    border-color: red;
  }

  &:valid {
    border: none;
    border-bottom: 2px solid map-get($form-colors, lightgrey);
  }

  /* remove right space between border and native button for IE */
  padding-right: 0;

  /* remove native styles in browsers for dropdown */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* better use SVG for retina screens */
  background-image: url('../assets/svg/dropdown.svg');
  background-repeat: no-repeat;
  background-position: right 6px top 50%;
  background-size: 16px 16px;
  margin-bottom: 10px;
}

/* prevent appearing of browser native dropdown button in IE */
select::-ms-expand {
  display: none;
}

.window-container {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
}

ng-select {

  &:focus {
    outline: none;
  }

  &.select {
    &.ng-select-focused:not(.ng-select-opened) {
      > .ng-select-container {
        box-shadow: none;
        border: none;
      }
    }

    > div {
      border: 0!important;
      outline: none;
    }

    .ng-select-container {
      border-radius: 0 !important;
      border: none !important;
      border-bottom: 2px solid map-get($form-colors, lightgrey) !important;
      height: 40px !important;

      //color: $def-font-color !important;

      @extend .arrow-down;

      .ng-value-container {
        padding: 0 !important;
        line-height: 40px;
        color: $def-font-color;
      }

      .ng-placeholder {
        color: map-get($form-colors, lightgrey) !important;
        padding-right: 25px;
      }

      .ng-input {
        padding: 0 30px 0 0 !important;
        top: 0 !important;

        input {
          height: 20px !important;
          padding: 0 !important;
          margin: 0 !important;
        }
      }
    }

    .ng-arrow-wrapper,
    .ng-clear-wrapper {
      display: none !important;
    }

    .ng-dropdown-panel {
      margin-top: 0 !important;

      &-items {
        max-height: 185px !important;

        .ng-option {
          transition: 0.3s ease-in-out;

          &.ng-option-marked {
            background: map-get($form-colors, lightgrey);
            color: $white;
          }

          &.ng-option-selected:not(ng-option-marked) {
            color: $white;
            background: map-get($form-colors, dark);
          }
        }
      }
    }
  }
}
