@import '../abstracts/variables',
'../base/mixin',
'../abstracts/colors';

.rainbow-text {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .rainbow-text {
    background-image: none;
    color: black;
  }
}

.map-container {
  height: 100vh;
  max-height: 100%;
}

/* Fixes */

.ngxmdp .selector {
  top: 60px !important;
  left: 183px !important;
}

.edit-form .ngxmdp .selector {
  left: 100px !important;
}

.event .ngxmdp .selector {
  position: sticky;
  margin: 15px;
}

.ui-dialog .ui-dialog-content {
  overflow: visible !important;
  height: 100% !important;
}

.form-control-error {
  border: 1px solid red;
  margin: 7px 0 !important;
  font-size: 14px !important;
  outline: none;
  padding: 8px;
}

.inspire-text .ui-menuitem-text, .inspire-text .ui-panelmenu-icon, .inspire-text + .ui-panelmenu-content-wrapper .ui-menuitem-text {
  color: #004DFF;
}

.get-inspired-text .ui-menuitem-text, .get-inspired-text .ui-panelmenu-icon, .get-inspired-text + .ui-panelmenu-content-wrapper .ui-menuitem-text {
  color: #22FF01;
}

.build-your-dream .ui-menuitem-text, .build-your-dream .ui-panelmenu-icon, .build-your-dream + .ui-panelmenu-content-wrapper .ui-menuitem-text {
  color: #FED400;
}

.share-your-dreams .ui-menuitem-text, .share-your-dreams .ui-panelmenu-icon, .share-your-dreams + .ui-panelmenu-content-wrapper .ui-menuitem-text {
  color: #FF9300
}

.visit-selected-dreams .ui-menuitem-text, .visit-selected-dreams .ui-panelmenu-icon, .visit-selected-dreams + .ui-panelmenu-content-wrapper .ui-menuitem-text {
  color: #FF0060
}

.make-them-real .ui-menuitem-text, .make-them-real .ui-panelmenu-icon, .make-them-real + .ui-panelmenu-content-wrapper .ui-menuitem-text {
  color: #FE1100
}

.suggest-where .ui-menuitem-text, .suggest-where .ui-panelmenu-icon, .suggest-where + .ui-panelmenu-content-wrapper .ui-menuitem-text {
  color: #912FF6
}

.find-where .ui-menuitem-text, .find-where .ui-panelmenu-icon, .find-where + .ui-panelmenu-content-wrapper .ui-menuitem-text {
  color: #6D2CE8
}

.about-game .ui-menuitem-text, .about-game .ui-panelmenu-icon, .about-game + .ui-panelmenu-content-wrapper .ui-menuitem-text {
  color: #575757;
}

.game-rules .ui-menuitem-text, .game-rules .ui-panelmenu-icon, .game-rules + .ui-panelmenu-content-wrapper .ui-menuitem-text {
  color: #575757;
}

.nav-hints-label .ui-menuitem-text, .nav-hints-label .ui-panelmenu-icon, .nav-hints-label + .ui-panelmenu-content-wrapper .ui-menuitem-text {
  color: #575757;
}

.progress-text {
  font-size: 20px;
  color: black !important;
}

.gif-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10000;
  background-color: black;
  opacity: 0.6;
}

.giphy-embed {
  width: 40vw;
  height: 40vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100000;
}

.rotate {
  transform: rotate(180deg);
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-bold {
    font-family: $bold;
  }

  &-light {
    font-family: $light;
  }

  &-regular {
    font-family: $main-font;
  }

  &-medium {
    font-family: $medium;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

.error {
  color: red;
  display: block;
  text-align: left;
  margin: -5px 0 5px !important;

  &-input {
    border-bottom-color: red !important;
  }
}

.api-error {
  display: block;



  text-align: left;
  font: 16px/1 $bold;
  margin-top: 10px;
  color: red;
}

.overlay {
  @include position(fixed, 0 0 0 0);
  background: rgba(0, 0, 0, 0.5);
  //z-index: 101;
  z-index: $z-index4;

  @extend %fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse-down {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

%pulse-shadow {
  animation: pulse 1s infinite;
}

%fadeIn {
  animation: fadeIn 0.33s both;
}

%fadeOut {
  animation: fadeIn 0.33s both;
}

%pulse-down {
  animation-duration: 1.5s;
  animation-name: pulse-down;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.rating {
  position: relative;
  margin: 0 !important;
  display: inline-block !important;
  vertical-align: middle !important;

  &:before {
    @include position(absolute, 0 0 0 -15px);
    content: '';
    padding: 0 15px;
    width: 120%;
    background-image: radial-gradient(ellipse at center, rgba($white, 1), rgba($white, 0) 80%);
  }
}

%project-dialog {
  touch-action: manipulation;
  z-index: 1000 !important;

  @media screen and (max-width: 1280px) {
    transform: translateX(-50%) translateY(100%) translateY(-75px) translateZ(0) !important;
    top: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    margin-left: 50%;
  }

  @include for-tablet-portrait-up {
    width: 100vw !important;
  }

  @include for-phone-only {
    width: calc(100vw - 20px) !important;
  }

  //.ui-dialog-content {
  //  @include for-desktop-up {
  //    max-height: 600px;
  //    overflow-y: auto !important;
  //  }
  //}


  @media screen and (max-width: 1280px) {
    .btn-resize {
      pointer-events: none;
      opacity: 0;
    }

    .card {
      &-logo,
      &-category,
      &-description {
        cursor: pointer;
      }

      &-header {
        padding-right: 30px;
      }
    }
  }
}

%project-dialog-open {
  @media screen and (max-width: 1280px) {
    position: static !important;
    transform: translateX(-50%) translateY(0)  translateZ(0) !important;
    margin: {
      top: 20px;
      bottom: 20px;
    }
  }

  @include for-tablet-portrait-up {
    width: 100vw !important;
  }

  @include for-phone-only {
    width: calc(100vw - 20px) !important;
  }

  @media screen and (max-width: 1280px) {
    .btn-resize {
      pointer-events: auto;
      opacity: 1;
    }

    .card {
      &-logo,
      &-category,
      &-description {
        cursor: default;
      }

      &-header {
        padding-right: 80px;
      }
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

%rotating {
  animation: rotating 2s linear infinite;
}

.border-animation {
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid currentColor;
  transition: 0.3s ease-in-out;

  &:hover,
  &:active {
    border-bottom-color: transparent;
  }
}

.blur {
  @include position(absolute, 0 0 0 0);
  filter: blur(5px);

  &:before {
    @include position(absolute, 0 0 0 0);
    content: '';
    background: rgba(#000, 0.7);
    z-index: 1;
  }

  &-container {
    position: absolute;
    overflow: hidden;
    height: 100%;
    min-width: 100%;

    img {
      @include position(absolute, 0 0 0 0);
      height: 100%;
    }
  }
}

.default {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;

    width: 100vw;
    height: 100vh;
    position: relative;
    color: $white;
    text-align: center;
    overflow-y: auto;
  }

  &-inner {
    position: relative;
    z-index: 2;
    max-height: 100vh;
  }
}

.dialog-overlay {

  @include for-phone-only {
    background: rgba(#000, 0.5);
    @include position(fixed, 0 0 0 0);
    z-index: 100;
  }

  @extend %fadeIn;
}

p-dialog {
  display: block;
  max-height: 100%;
}

.dialog-container {
  @media screen and (max-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 100vh;
    overflow-x: hidden;
    padding: 45px 10px 20px;
    overflow-y: auto;
    @include position(absolute, 0 0 0 0);
    z-index: 50 !important;
  }

  @include for-phone-only {
    padding-top: 20px;
    z-index: $z-index4;
  }
}
