<div [ngClass]="{'dialog-overlay': toggle}"></div>
<div [ngClass]="{'dialog-container': toggle}">
  <p-dialog
    styleClass="with-date"
    [positionLeft]="dialogPositionLeft"
    [positionTop]="dialogPositionTop"
    [minHeight]="100"
    [visible]="true"
    (onHide)="onHide()"
    (onShow)="onShow()"
    class="event-dialog"
    [ngClass]="{'open': toggle}"
  >
    <p-header>

      <div class="btn-resize" (click)="toggle = !toggle">
        <img src="assets/svg/down.svg" alt="resize">
      </div>

      <!--header-->
      <div class="card-header">
        <div class="card-logo" (click)="toggle = !toggle">
          <img src="assets/svg/projects/event-icon.svg" alt="event">
        </div>
        <div class="card-info">
          <h1 (click)="toggle = !toggle" class="card-category" translate>{{ header }}</h1>
          <h2 (click)="toggle = !toggle" class="card-description" translate>{{ subHeader }}</h2>
        </div>
      </div>
    </p-header>
    <div class="card event-dialog">
      <div class="card-img">
        <div class="card-img-container">
          <img *ngIf="projectType" [src]="projectType.bgUrl" alt="map">
        </div>

        <!--edit project-->
        <button *ngIf="canBeModified() && !editMode" (click)="setEditMode()" class="card-edit">
          <img src="assets/svg/edit.svg" alt="edit">
        </button>

      <!--Voting received-->
      <div *ngIf="!editMode && (project.underVoting || project.wonVoting)" class="votes">
        <span class="votes-num">{{ project.votesReceived }}</span>
        <span class="votes-title">
          <span translate>{{ project.votesReceived === 1 ? 'vote' : 'votes' }}</span>
        </span>
      </div>
    </div>

      <form [formGroup]="eventForm" class="card-body" [ngClass]="{'edit-mode': editMode}">
        <!--Creator-->
        <div class="info-group">
          <span class="card-creator">
            <a [routerLink]="[ROUTES.profile, project.creator.id]">{{ project.creator.firstName + ' ' + project.creator.lastName }}</a>
          </span>
        </div>

        <!--Name-->
        <div *ngIf="isUserCreator() && editMode" class="form-group">
          <input id="name-field" pInputText formControlName="name" type="text" name="name"
                 [placeholder]="'Event name' | translate"
                 [ngClass]="{'error-input': eventForm.get('name').invalid && eventForm.get('name').touched}">

          <cd-validation-messages
            *ngIf="eventForm.get('name').touched"
            [control]="eventForm.get('name')"
            [validationsObject]="VALIDATIONS.event.name"
          ></cd-validation-messages>

        </div>

        <div *ngIf="!editMode" class="info-group">
          {{ project.name }}
        </div>

        <!--Description-->
        <div *ngIf="isUserCreator() && editMode" class="form-group">
          <textarea id="description-field" formControlName="description" type="text" name="description"
                    [placeholder]="'Details (optional)' | translate"
                    [ngClass]="{'error-input': eventForm.get('description').invalid && eventForm.get('description').touched}">
          </textarea>

          <cd-validation-messages
            *ngIf="eventForm.get('description').touched"
            [control]="eventForm.get('description')"
            [validationsObject]="VALIDATIONS.event.description"
          ></cd-validation-messages>

        </div>

        <div *ngIf="!editMode && eventForm.value.description" class="info-group">
          <span class="info-item desc">{{ project.description }}</span>
        </div>

        <!--Start Date-->
        <div *ngIf="isUserCreator() && editMode" class="form-group">
          <cd-date-picker
            [showTime]="true"
            (bySelect)="dateStartColors()"
            (byBlur)="dateStartColors()"
            [styleClass]="'arrow-down'"
            [inputId]="'dateStart-field'"
            [inputStyleClass]="'event-calendar-input'"
            [formControl]="eventForm.get('dateStart')"
            [placeholder]="'Start Date/ Hour(choose)'"
          ></cd-date-picker>
          <cd-validation-messages
            *ngIf="eventForm.get('dateStart').touched"
            [control]="eventForm.get('dateStart')"
            [validationsObject]="VALIDATIONS.event.startDate"
          ></cd-validation-messages>
        </div>

        <div *ngIf="!editMode" class="info-group">
          <span class="info-item">{{ getDate(project.startDate) }}</span>
        </div>


        <!--End date-->
        <div *ngIf="isUserCreator() && editMode" class="form-group">
          <cd-date-picker
            [styleClass]="'arrow-down'"
            [showTime]="true"
            (bySelect)="dateEndColors()"
            (byBlur)="dateEndColors()"
            [inputId]="'dateEnd-field'"
            [inputStyleClass]="'event-calendar-input'"
            [formControl]="eventForm.get('dateEnd')"
            [placeholder]="'End Date/ Hour(choose)'"
          ></cd-date-picker>
          <cd-validation-messages
            *ngIf="eventForm.get('dateEnd').touched"
            [control]="eventForm.get('dateEnd')"
            [validationsObject]="VALIDATIONS.event.endDate"
          ></cd-validation-messages>
        </div>


        <div *ngIf="!editMode" class="info-group">
          <span class="info-item">{{ getDate(project.endDate) }}</span>
        </div>

        <!--Capacity-->
        <div *ngIf="canBeModified() && editMode" class="card-row">
          <cd-capacity-field class="capacity-field-wrapper"
                             formControlName="capacity"
                             [control]="eventForm.get('capacity')"
                             [constraint]="VALIDATIONS.event.capacity"></cd-capacity-field>
        </div>

        <div *ngIf="!editMode && eventForm.value.capacity" class="card-row">
          <span class="category"><span translate>Capacity:</span></span>
          <div class="capacity-result">
            <span class="capacity-field-container"> {{ project.capacity }} </span>
            <span class="capacity-suggested" translate>suggested</span>
          </div>
        </div>

        <span *ngIf="badRequest" class="api-error">{{ badRequest | translate }}</span>

        <div class="btn-panel">
          <cd-project-buttons
            [labels]="LABELS"
            [disabled]="editMode ? eventForm.invalid : false"
            [showSubmit]="isUserCreator() && editMode"
            [showShare]="!editMode"
            [showDelete]="canBeModified() && !editMode"
            [showNext]="!editMode"
            [showCancel]="editMode"
            [showSubmitToVote]="canProjectBeSubmittedToVote()"
            [showVote]="canProjectBeVoted()"
            [isLocked]="isLocked"
            (share)="share()"
            (remove)="removeProject()"
            (next)="nextProject()"
            (submit)="onSubmit()"
            (cancel)="onCancel()"
            (vote)="vote()"
            (submitToVote)="submitToVote()"
          ></cd-project-buttons>
        </div>
      </form>
    </div>
  </p-dialog>
</div>
