@import '../../../../scss/abstracts/colors',
  '../../../../scss/base/mixin';

.bar-wrapper {
  display: inline-block;
  position: relative;
  background-color: $bar-color;
  margin: 0 5px;
  transition: height 0.4s ease-out;

  @include for-phone-only {
    width: 75px !important;
  }
}

.bar-value {
  position: absolute;
  transition: height 0.4s ease-out;
  width: 100% !important;
}
