<div class="buttons">
  <button
    *ngIf="showSubmitToVote"
    [disabled]="disabled"
    (click)="onShowConfirmDialog()"
    type="button"
    class="btn btn-outline btn-submit-vote">
    <span translate>{{ labels.SUBMIT_TO_VOTE }}</span>
  </button>
  <button *ngIf="showVote" (click)="onVote()"
          [disabled]="isLocked"
          type="button" class="btn btn-outline btn-vote">
    <span translate>{{ labels.VOTE }}</span>
  </button>
  <button *ngIf="showShare" (click)="onShare()"
          [disabled]="isLocked"
          type="button" class="btn btn-outline btn-share">
    <span translate>{{ labels.SHARE }}</span>
  </button>
  <div class="btn-divider" *ngIf="showDelete"></div>
  <button *ngIf="showDelete" (click)="onRemove()"
          [disabled]="isLocked"
          class="btn btn-delete" type="button">
    <span translate>{{ labels.DELETE }}</span>
  </button>
  <div class="btn-next-container">
    <button *ngIf="showNext" (click)="onNext()"
            [disabled]="isLocked"
            class="btn btn-next" type="button">
      <span translate>{{ labels.NEXT }}</span>
    </button>
  </div>
</div>
<div class="buttons-actions">
  <button *ngIf="showCancel" (click)="onCancel()"
          [disabled]="isLocked"
          class="btn btn-outline btn-cancel" type="button">
    <span translate>{{ labels.CANCEL }}</span>
  </button>
  <button *ngIf="showSubmit" [disabled]="disabled || isLocked"
          (click)="onSubmit()" type="button" class="btn btn-outline btn-save">
    <span translate>
      {{ labels.SAVE }}
    </span>
  </button>
</div>


<cd-confirm-dialog
  *ngIf="showConfirmDialog"
  [showDialog]="showConfirmDialog"
  [width]="500"
  [positionLeft]="confirmDialogLeftPosition"
  [positionTop]="300"
  (cancel)="onHideConfirmDialog()"
  (confirm)="onSubmitToVote()"
  [headerText]="labels.SUBMIT_TO_VOTE"
  [confirmationText]="labels.CONFIRM_DIALOG.CONFIRMATION_TEXT"
  [confirmButtonText]="labels.SUBMIT_TO_VOTE"
  [cancelButtonText]="labels.CONFIRM_DIALOG.CANCEL_BUTTON_TEXT"
>
