@import '../../../../scss/components/helpers',
'../../../../scss/abstracts/colors';

.title {
  font-weight: bold;
}

/*.pan-view {*/
  /*color: #66CCFF;*/
/*}*/

/*.zoom-view {*/
  /*color: #65FD00;*/
/*}*/

/*.rotate-view {*/
  /*color: #ffd800;*/
/*}*/

.nav-hint {
  @extend .clearfix;
  margin: 10px 0;
}

.hint {
  &-body {
    padding: 0 10px 10px;
  }

  &-text {
    padding-left: 10px;
    float: left;
    width: calc(100% - 60px);
  }

  &-svg {
    height: 60px;
    width: 60px;
    float: left;
  }
}

.method-title {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.instructions {
  max-width: 400px;
}

//>>> .tab-view .ui-tabview-nav {
//  background: none;
//  border: none;
//  display: flex;
//  justify-content: center;
//  border-bottom: 1px solid #dddddd
//}
//
//>>> .tab-view .ui-tabview-panel {
//  display: flex;
//  justify-content: center;
//}
//
//>>> .tab-view .ui-tabview {
//  border: none;
//}
//
//>>> .tab-view a {
//  padding: .5em .5em !important;
//}

:host /deep/ {
  .tab-view .ui-tabview {
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    font-family: $main-font;
  }

  .ui-tabview .ui-tabview-nav li {
    position: relative;
    width: 33.33%;
    text-align: center;
    word-wrap: break-word;
    color: $def-font-color;
    margin: 0;
    flex: 1;
    transition: 0.3s ease-in-out;
  }

  .ui-tabview .ui-tabview-nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    height: 100%;
  }

  .ui-tabview-title {
    white-space: pre-wrap;
  }

  .ui-state-default a {
    color: $def-font-color;
  }

  .ui-state-active a {
    color: map-get($form-colors, dark);
    font-weight: bold;
  }

  .ui-tabview .ui-tabview-nav {
    display: flex;
    border-bottom: 1px solid map-get($form-colors, grey);
    padding: 0 0 1px;
    margin: 0;
  }

  .ui-tabview .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover {
    background: map-get($form-colors, lightgrey);
    border-color: map-get($form-colors, lightgrey);
  }
}
