<p-dialog *ngIf="showDialog" [visible]="showDialog" (onHide)="hide.emit()">

  <p-header translate>
    <div class="card-header">
      <h1 class="card-description" translate>Navigation hints</h1>
    </div>
  </p-header>

  <div class="card hint-body">

    <p-tabView class="tab-view" ngClass="tabs">
      <p-tabPanel [header]="labels[I18N_HEADERS.mouse]">
        <div class="mouse-hints">

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title pan-view" translate>Pan</div>
              <div class="instructions" translate>Left click + drag</div>
            </div>
          </div>

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title zoom-view" translate>Zoom</div>
              <div class="instructions" translate>Mouse wheel scroll</div>
            </div>
          </div>

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title zoom-view" translate>Box Zoom</div>
              <div class="instructions" translate>SHIFT + Left click + drag</div>
            </div>
          </div>

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title rotate-view" translate>Rotate</div>
              <div class="instructions" translate>Right click + drag, or CTRL + Left click + drag</div>
            </div>
          </div>

        </div>
      </p-tabPanel>

      <p-tabPanel [header]="labels[I18N_HEADERS.touchpad]">
        <div class="touchpad-win-hints">

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title pan-view" translate>Pan</div>
              <div class="instructions" translate>Left click + one finger drag</div>
            </div>
          </div>

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title zoom-view" translate>Zoom</div>
              <div class="instructions" translate>Two finger drag, same direction</div>
            </div>
          </div>

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title zoom-view" translate>Box Zoom</div>
              <div class="instructions" translate>SHIFT + Left click + one finger drag</div>
            </div>
          </div>

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title tilt-view" translate>Rotate</div>
              <div class="instructions" translate>Right click + one finger drag , or CTRL + Left click + one finger drag</div>
            </div>
          </div>

        </div>
      </p-tabPanel>

      <p-tabPanel [header]="labels[I18N_HEADERS.touch]">
        <div class="touch-hints">

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title pan-view" translate>Pan</div>
              <div class="instructions" translate>One finger drag</div>
            </div>
          </div>

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title zoom-view" translate>Zoom</div>
              <div class="instructions" translate>Two finger pinch</div>
            </div>
          </div>

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title tilt-view" translate>Rotate</div>
              <div class="instructions" translate>Two finger drag, opposite direction</div>
            </div>
          </div>

        </div>

      </p-tabPanel>

      <p-tabPanel [header]="labels[I18N_HEADERS.keyboard]">
        <div class="touch-hints">

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title pan-view" translate>Pan</div>
              <div class="instructions" translate>Arrow keys</div>
            </div>
          </div>

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title zoom-view" translate>Zoom</div>
              <div class="instructions" translate>= / +: Increase the zoom level by 1.</div>
              <div class="instructions" translate>Shift-= / Shift-+: Increase the zoom level by 2.</div>
              <div class="instructions" translate>-: Decrease the zoom level by 1.</div>
              <div class="instructions" translate>Shift--: Decrease the zoom level by 2.</div>
              <div class="instructions" translate>Arrow keys: Pan by 100 pixels.</div>
            </div>
          </div>

          <div class="nav-hint">
            <div class="hint-text">
              <div class="title tilt-view" translate>Rotate</div>
              <div class="instructions" translate>Shift+⇢: Increase the rotation by 15 degrees.</div>
              <div class="instructions" translate>Shift+⇠: Decrease the rotation by 15 degrees.</div>
              <div class="instructions" translate>Shift+⇡: Increase the pitch by 10 degrees.</div>
              <div class="instructions" translate>Shift+⇣: Decrease the pitch by 10 degrees.</div>
            </div>
          </div>

        </div>

      </p-tabPanel>

    </p-tabView>

  </div>

</p-dialog>

