@import '../../../../scss/base/mixin',
  '../../../../scss/components/helpers';

.welcome {
  overflow-y: hidden !important;

  &-container {
    overflow-y: auto;
    width: 100vw;
  }

  &-logo {
    padding: 0 15px;
    max-width: 250px;
    margin: 0 auto;
    animation: none;

    img {
      max-width: 100%;
    }

    @include for-tablet-landscape-up {
      max-width: 350px;
    }

    @include for-desktop-up {
      max-width: 100%;
    }

    @media (max-height: 700px) {
      max-width: 250px;
    }

    @media (max-height: 570px) {
      max-width: 180px;
    }
  }

  &-title {
    font-size: 28px;
    margin: 35px 0 20px 0;

    @include for-tablet-portrait-up {
      font-size: 32px;
    }

    @include for-tablet-landscape-up {
      font-size: 40px;
    }

    @include for-desktop-up {
      font-size: 48px;
    }
  }

  &-subtitle {
    font-size: 18px;
    margin: 10px 0;

    @include for-tablet-portrait-up {
      font-size: 20px;
    }

    @include for-tablet-landscape-up {
      font-size: 24px;
    }

    @include for-desktop-up {
      font-size: 30px;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.switcher-container {
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 100;
}

.action-buttons {
  display: flex;
  justify-content: center;

  .btn {
    margin: 5px 0;
  }
}

.blur {
  filter: none !important;
}

.bg-image {
  filter: blur(5px);
}
