<div [ngStyle]="{'display' : isVisible() ? '' : 'none'}" class="gif-container">
  <!--Project gets 4 stars-->
  <iframe *ngIf="getGifType()===GifTypes.PROJECT_4_STARS" src="https://giphy.com/embed/xDDTyGIWUyFlm" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

  <!--Project gets 5 stars-->
  <iframe *ngIf="getGifType()===GifTypes.PROJECT_5_STARS" src="https://giphy.com/embed/nbJUuYFI6s0w0" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

  <!--Submit event-->
  <iframe *ngIf="getGifType()===GifTypes.EVENT_SUBMIT" src="https://giphy.com/embed/3ohhwEZqxzKbNUHzji" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

  <!--Vote for project-->
  <iframe *ngIf="getGifType()===GifTypes.VOTE_FOR_PROJECT" src="https://giphy.com/embed/3o7TKoWXm3okO1kgHC" frameBorder="0" class="giphy-embed rotate" allowFullScreen></iframe>
</div>
