<div class="promote-them-wrapper" *ngIf="isVisible()">
  <div class="promote-them-container" >
    <a class="close" (click)="close()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </a>
    <!--<img class="close" src="assets/svg/close.svg" alt="Close" >-->
    <div class="custom-buttons">
      <share-buttons
        [linkedIn]="false"
        [tumblr]="false"
        [pinterest]="false"
        [stumbleUpOn]="false"
        [reddit]="false"
        [whatsApp]="false"
        [url]="url"
        (popUpClosed)="shareSignal($event)"
      ></share-buttons>
    </div>
    <p class="share-label" translate>
      {{ LABELS.SHARE_ALL }}
    </p>
  </div>
</div>
