<div [class]="styleClass" [ngStyle]="style" [ngClass]="'ui-panelmenu ui-widget'">
  <div *ngFor="let item of model; let f=first; let l=last;" class="ui-panelmenu-panel">
    <div [ngClass]="{'ui-widget ui-panelmenu-header ui-state-default':true,'ui-corner-top':f,'ui-corner-bottom':l&&!item.expanded, 'ui-state-active':item.expanded,'ui-state-disabled':item.disabled}" [class]="item.styleClass" [ngStyle]="item.style">
      <a *ngIf="!item.routerLink" [href]="item.url||'#'" [ngClass]="{'ui-panelmenu-headerlink-hasicon':item.icon}" (click)="handleClick($event,item)" [attr.target]="item.target" [attr.title]="item.title">
        <div *ngIf="images"><img [src]="item.imagePath || defaultImagePath"  width="100px"/></div>
        <span *ngIf="item.items" class="ui-panelmenu-icon fa" [ngClass]="{'fa-caret-right':!item.expanded,'fa-caret-down':item.expanded}"></span>
        <span class="ui-menuitem-icon fa" [ngClass]="item.icon" *ngIf="item.icon"></span>
        <span class="ui-menuitem-text" translate>{{ item.label }}</span>
      </a>
      <a *ngIf="item.routerLink" [routerLink]="item.routerLink" [queryParams]="item.queryParams" [routerLinkActive]="'ui-state-active'" [routerLinkActiveOptions]="item.routerLinkActiveOptions||{exact:false}" [ngClass]="{'ui-panelmenu-headerlink-hasicon':item.icon}" (click)="handleClick($event,item)" [attr.target]="item.target" [attr.title]="item.title">
        <div *ngIf="images"><img [src]="item.imagePath || defaultImagePath" width="100px"/></div>
        <span *ngIf="item.items" class="ui-panelmenu-icon fa" [ngClass]="{'fa-caret-right':!item.expanded,'fa-caret-down':item.expanded}"></span>
        <span class="ui-menuitem-icon fa" [ngClass]="item.icon" *ngIf="item.icon"></span>
        <span class="ui-menuitem-text" translate>{{ item.label }}</span>
      </a>
    </div>
    <div *ngIf="item.items" class="ui-panelmenu-content-wrapper" [@rootItem]="item.expanded ? 'visible' : 'hidden'" (@rootItem.done)="onToggleDone($event)" [ngClass]="{'ui-panelmenu-content-wrapper-overflown': !item.expanded||animating}">
      <div class="ui-panelmenu-content ui-widget-content">
        <cd-submenu-panel [item]="item" [expanded]="true" [images]="childImages"></cd-submenu-panel>
      </div>
    </div>
  </div>
</div>
