<div [ngClass]="{'dialog-overlay': toggle}"></div>
<div [ngClass]="{'dialog-container': toggle}">
  <p-dialog
    [resizable]="false"
    *ngIf="!!isVisible"
    [visible]="!!isVisible"
    [styleClass]="'inspire-dialog'"
    (onHide)="onHide()"
    (onShow)="onShow()"
    class="inspire-dialog"
    [ngClass]="{'open': toggle}"
    [positionLeft]="dialogPositionLeft"
    [positionTop]="dialogPositionTop"
  >
    <p-header>
      <div class="btn-resize" (click)="toggle = !toggle">
        <img src="assets/svg/down.svg" alt="resize">
      </div>

      <!--header-->
      <div class="card-header">
        <div class="card-logo" (click)="toggle = !toggle">
          <img src="assets/svg/projects/idea-icon.svg" alt="idea">
        </div>
        <div class="card-info">
          <h1 (click)="toggle = !toggle" class="card-category" translate>{{ header }}</h1>
          <h2 (click)="toggle = !toggle" class="card-description" translate>{{ subHeader }}</h2>
        </div>
      </div>
    </p-header>
    <div class="card event-dialog">
      <div class="card-img">
        <div class="card-img-container">
          <img *ngIf="projectType" [src]="projectType.bgUrl" alt="map">
        </div>

        <!--edit project-->
        <button *ngIf="canBeModified() && !editMode" (click)="setEditMode()" class="card-edit">
          <img src="assets/svg/edit.svg" alt="edit">
        </button>

        <!--Voting received-->
        <div *ngIf="project.underVoting && !editMode" class="votes">
          <span class="votes-num">{{ project.votesReceived }}</span>
          <span class="votes-title"><span translate>{{ project.votesReceived === 1 ? 'vote' : 'votes' }}</span></span>
        </div>

      </div>

      <form [formGroup]="inspireForm" class="card card-body">
        <!--Creator-->
        <div class="info-group">
          <span class="card-creator">
            <a [routerLink]="[ROUTES.profile, project.creator.id]">{{ project.creator.firstName + ' ' + project.creator.lastName }}</a>
          </span>
        </div>

        <!--Name-->
        <div *ngIf="isUserCreator() && editMode" class="form-group">
          <input id="name-field" formControlName="name" type="text" name="name"
                 [ngClass]="{'error-input': inspireForm.get('name').invalid && inspireForm.get('name').touched}"
                 [placeholder]="'Idea name' | translate">
          <cd-validation-messages
            *ngIf="inspireForm.get('name').touched"
            [control]="inspireForm.get('name')"
            [validationsObject]="VALIDATIONS.inspire.name"
          ></cd-validation-messages>
        </div>

        <div *ngIf="!editMode" class="info-group">
          <span class="info-item name">{{ project.name }}</span>
        </div>

        <!--Description-->
        <div *ngIf="isUserCreator() && editMode" class="form-group">
          <div class="desc-container diff-lines">
            <textarea id="description-field" formControlName="description" type="text" name="description"
                      [ngClass]="{'error-input': inspireForm.get('description').invalid && inspireForm.get('description').touched}"
                      [placeholder]="'Details (Max 12288 characters)' | translate">
            </textarea>
          </div>
          <cd-validation-messages
            *ngIf="inspireForm.get('description').touched"
            [control]="inspireForm.get('description')"
            [validationsObject]="VALIDATIONS.inspire.description"
          ></cd-validation-messages>
        </div>

        <div *ngIf="!editMode && inspireForm.value.description" class="info-group">
          <span class="info-item desc">{{ project.description }}</span>
        </div>

        <!--Capacity-->
        <div *ngIf="canBeModified() && editMode" class="card-row">
          <cd-capacity-field class="capacity-field-wrapper"
                             formControlName="capacity"
                             [control]="inspireForm.get('capacity')"
                             [constraint]="VALIDATIONS.inspire.capacity"></cd-capacity-field>
        </div>

        <div *ngIf="!editMode && inspireForm.value.capacity" class="card-row">
          <span class="category"><span translate>Capacity:</span></span>
          <div class="capacity-result">
            <span class="capacity-field-container"> {{ project.capacity }} </span>
            <span class="capacity-suggested" translate>suggested</span>
          </div>
        </div>

        <span *ngIf="badRequest" class="api-error">{{ badRequest }}</span>
        <div class="btn-panel">
          <cd-project-buttons
            [labels]="LABELS"
            [disabled]="editMode ? inspireForm.invalid : false"
            [showSubmit]="isUserCreator() && editMode"
            [showShare]="!editMode"
            [showDelete]="canBeModified() && !editMode"
            [showNext]="!editMode"
            [showCancel]="editMode"
            [showSubmitToVote]="canProjectBeSubmittedToVote() && !editMode"
            [showVote]="canProjectBeVoted()"
            [isLocked]="isLocked"
            (share)="share()"
            (remove)="removeProject()"
            (next)="nextProject()"
            (cancel)="onCancel()"
            (vote)="vote()"
            (submit)="onSubmit()"
            (submitToVote)="submitToVote()"
          ></cd-project-buttons>
        </div>
      </form>
    </div>
  </p-dialog>
</div>
