@import '../../../../scss/base/mixin',
'../../../../scss/abstracts/variables',
'../../../../scss/abstracts/colors',
'../../../../scss/components/helpers';

$project-img-radius: 5px;

.projects {
  &-list {
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
  }
}

.project {
  margin: 15px 0;
  @extend .clearfix;
  position: relative;
  display: flex;
  box-shadow: 0 0 2px 1px rgba(#000, 0.1);
  border-radius: 5px 0 0 5px;

  &-img {
    max-width: 50px;
    width: 100%;
    min-height: 100%;
    border-radius: $project-img-radius 0 0 $project-img-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 15px;
    cursor: pointer;
    padding: 10px;
    position: relative;

    @include for-tablet-portrait-up {
      max-width: 100px;
      padding: 15px;
    }

    @include for-tablet-landscape-up {
      max-width: 150px;
      padding: 25px;
    }

    img {
      width: 100%;
      height: auto;
    }

    &:before {
      @include position(absolute, 0 0 0 0);
      content: '';
      background: rgba(#000, 0.6);
      border-radius: $project-img-radius 0 0 $project-img-radius;
      transition: 0.3s ease-in-out;
      opacity: 0;
    }

    &:hover:before {
      opacity: 1;
    }
  }

  &-info {
    float: left;
    width: calc(100% - 65px);
    list-style: none;
    padding: {
      top: 10px;
      bottom: 10px;
      right: 30px;
      left: 0;
    }
    margin: 0;
    transition: width 0.3s ease-in-out;

    @include for-tablet-portrait-up {
      width: calc(100% - 115px);
    }

    @include for-tablet-landscape-up {
      width: calc(100% - 165px);
    }

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-score {
    //@include for-tablet-portrait-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    //}
  }

  &-name {
    cursor: pointer;

    &:hover span {
      border-bottom-color: transparent;
    }

    span {
      border-bottom: 1px solid;
      transition: border-bottom-color 0.2s ease-in-out;
      display: inline-block;
    }
  }

  &-rating {
    @include for-phone-only {
      margin-bottom: 10px;
    }
  }

  &-votes {
    font-family: $bold;

    .votes-title {
      font-family: $main-font;
      font-size: 14px;
    }
  }
}

.truncate {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host /deep/ {

  .ui-dialog .ui-dialog-content {
    height: 100% !important;
    overflow: hidden !important;
  }

  .profile-dialog {
    overflow: visible;
  }

  .ui-dialog {
    max-width: 700px !important;
    width: 100% !important;
    z-index: 100 !important;
    position: static !important;
    margin: 75px auto 0 !important;

    @include for-tablet-landscape-up {
      margin-top: 100px !important;
    }
  }

  .score-container {
    display: flex;
    justify-content: center;
  }
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  &-main {
    font-size: 20px;
    margin-bottom: 5px;

    @include for-tablet-portrait-up {
      font-size: 24px;
    }

    @include for-tablet-landscape-up {
      font-size: 28px;
    }
  }

  .overlay {
    z-index: $z-index4;
  }
}

.profile {
  font: normal 16px/1.2 $main-font;
  color: $def-font-color;
  letter-spacing: 0.6px;

  &-content {
    padding: {
      left: 20px;
      right: 20px;
    }
  }

  &-actions {
    position: absolute;
    top: 10px;
    left: 10px;

    button {
      margin-right: 10px;
    }

    button img {
      width: 30px;
    }
  }
}

.user {
  @extend .clearfix;

  &-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin: {
      top: -75px;
      left: auto;
      right: auto;
    }
    background: #D3D3D3;
    padding: 30px 10px 0;

    @include for-tablet-portrait-up {
      width: 120px;
      height: 120px;
    }

    @include for-tablet-landscape-up {
      width: 200px;
      height: 200px;
      margin-top: -100px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-info {
    text-align: center;
  }

  &-name {
    margin: 12px 0 5px;
    font-size: 20px;
  }

  &-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  &-trophies {
    text-align: center;
    margin-left: 10px;
  }

  &-position {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }
}

.trophy {
  width: 32px;
  height: 50px;
  display: inline-block;
  margin-right: 5px;
}

.category {
  &-title {
    margin: 30px 0 5px;
    text-align: center;
    font-size: 20px;
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @extend .clearfix;
  }

  &-item {
    width: 56px;
    height: 56px;
    padding: 10px;
    margin: 5px 5px 0;
    border-radius: 5px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    &.active {
      box-shadow: 0 0 10px 2px !important;
    }

    &:hover {
      box-shadow: 0 0 10px 3px rgba(#000, 0.1);
    }

    img {
      width: 100%;
    }
  }
}

.culture {
  background: map-get($projects, culture);
  color: map-get($projects, culture);
}

.education {
  background: map-get($projects, education);
  color: map-get($projects, education);
}

.park {
  background: map-get($projects, park);
  color: map-get($projects, park);
}

.sport {
  background: map-get($projects, sport);
  color: map-get($projects, sport);
}

.medical {
  background: map-get($projects, medical);
  color: map-get($projects, medical);
}

.events {
  background: map-get($projects, events);
  color: map-get($projects, events);
}

.ideas {
  background: map-get($projects, ideas);
  color: map-get($projects, ideas);
}

.social {
  background: map-get($projects, social);
  color: map-get($projects, social);
}

.popup-settings {
  display: none;
}

.best-projects {
  font-family: $main-font;
  font-size: 14px;

  @include for-tablet-landscape-up {
    font-size: 18px;
  }
}

.no-best-projects {
  text-align: center;
}

.btn-settings {
  padding: 5px;
  cursor: pointer;

  &:hover {
    img {
      @extend %rotating;
    }
  }

  &:focus {
    img {
      animation: none;
    }
  }

  img {
    width: 25px;
    height: auto;
    max-height: 100%;
  }
}

.settings {
  cursor: pointer;

  &-dialog {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    @include position(absolute, 40px null null 40px);

    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 15px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba($black, 0.1);
    background: $white;
    z-index: 2;
    position: absolute;

    li {
      cursor: pointer;
      font-family: $medium;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 2.5px 0;

      span {
        display: inline-block;
        @extend .border-animation;
      }
    }

    img {
      display: inline-block;
      width: 25px;
      margin-right: 5px;
    }
  }
}
