<div class="window-container">
  <p-dialog
    styleClass="profile-dialog"
    [positionLeft]="600"
    [positionTop]="100"
    [visible]="visible"
    [draggable]="true"
    (onHide)="onHide()"
    (onShow)="onShow()"
  >
    <p-header>
      <div class="profile profile-header">
        <div class="settings-box" *ngIf="securityPrincipal && securityPrincipal.getPrincipalId() === ownId" (click)="dropdownWrapperClick($event)">
          <button class="btn-settings" (click)="toggleDropdown($event)">
            <img src="assets/svg/settings-icon.svg" alt="settings">
          </button>
          <div class="settings-dialog" [ngClass]="{'show': showProfileSettings}">
            <ul class="settings-list">
              <li (click)="onShowUpdateDialog()">
                <img src="assets/svg/edit.svg" alt="">
                <span translate>Edit</span>
              </li>
              <li (click)="onShowPasswordDialog()">
                <img src="assets/svg/lock.svg" alt="">
                <span translate>Password</span>
              </li>
              <li (click)="onShowNotificationsDialog()">
                <img src="assets/svg/bell.svg" alt="">
                <span translate>Notifications</span>
              </li>
              <li (click)="logout()">
                <img src="assets/svg/logout.svg" alt="">
                <span translate>Logout</span>
              </li>
            </ul>
          </div>
        </div>

        <!--user info-->
        <div class="user">
          <!--user avatar-->
          <div class="user-avatar">
            <img src="assets/svg/user.svg" alt="Avatar">
          </div>

          <div class="user-info">
            <p class="card-creator user-name">{{ securityPrincipal.getPrincipalFullName() }}</p>
            <cd-score [score]="securityPrincipal.getPrincipalScore()"></cd-score>
          </div>
        </div>

        <div class="user-progress">
          <div class="user-position text-medium" translate>{{ securityPrincipal.getPrincipalTitle() }}</div>
          <div class="user-trophies">
            <img *ngFor="let trophy of trophies" src="assets/svg/trophy.svg" class="trophy">
          </div>
        </div>

      </div>
    </p-header>
    <div class="profile profile-content card-wrapper">
      <h2 class="title title-main text-medium" translate>PLEASE VOTE AND SHARE!</h2>

      <div *ngIf="bestProjects.length > 0" class="best-projects">
        <h3 class="title best-projects" translate>MY BEST PROJECTS</h3>

        <div class="projects-block">
          <div class="projects">
            <ul class="projects-list">
              <li *ngFor="let project of bestProjects" class="project">
                <div class="project-img"
                     [style.backgroundColor]="getProjectTypeColorByType(project.category.type) | async"
                     (click)="openBestProject(project)">
                  <img [src]="getProjectTypeImageUrlByType(project.category.type) | async"
                       [alt]="project.category.name">
                </div>
                <ul class="project-info">
                  <li (click)="openBestProject(project)" class="project-name truncate">
                    <span>{{ project.name }}</span>
                  </li>
                  <li class="project-address truncate">
                    {{ project.location.address }}
                  </li>
                  <li class="project-score">
                    <div class="project-rating">
                      <cd-star-rating [rating]="project.performance"></cd-star-rating>
                    </div>
                    <div class="project-votes">
                      {{ project.votesReceived }}
                      <span class="votes-title" translate>{{ project.votesReceived === 1 ? 'vote' : 'votes' }}</span>
                    </div>
                  </li>
                  <li class="buttons">
                    <button (click)="share(project)" type="submit" class="btn btn-outline btn-share">
                      <span translate>Share</span>
                    </button>
                    <button *ngIf="project.canVote && project.underVoting" (click)="vote(project)" type="button"
                            class="btn btn-outline btn-vote" [disabled]="isLocked">
                      <span translate>Vote</span>
                    </button>
                    <button *ngIf="canAbstractProjectBeSubmittedToVote(project)"
                            (click)="onShowConfirmDialog(project)"
                            type="button" class="btn btn-outline btn-submit-vote"  [disabled]="isLocked">
                      <span translate>Submit to vote</span>
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="bestProjects.length <= 0" class="no-best-projects">
        <h3 translate>There are no projects yet.</h3>
      </div>

      <div class="categories">
        <h3 class="category-title text-bold" translate>Visit all my projects list:</h3>

        <ul class="category-list">
          <li class="category-item" *ngFor="let projectType of projectTypes"
              [style.backgroundColor]="projectType.color"
              (click)="setCategory(projectType.id)"
              [ngClass]="{'active': getSelectedCategory() === projectType.id}">
            <img [src]="projectType.url" [alt]="projectType.name">
          </li>
        </ul>
      </div>

      <div class="projects-block" *ngIf="selectedCategory">

        <div class="projects" *ngFor="let projectType of projectTypes">
          <div *ngIf="projectType.id === selectedCategory">
            <ul class="projects-list" *ngFor="let project of projectType.items">
              <li class="project">
                <div class="project-img" [style.backgroundColor]="projectType.color"
                     (click)="openProject(project)">
                  <img [src]="projectType.url">
                </div>
                <ul class="project-info">
                  <li (click)="openProject(project)" class="project-name truncate" translate>
                    <span>{{ project.name }}</span>
                  </li>
                  <li class="project-address truncate">
                    {{ project.location.address }}
                  </li>
                  <li class="project-score">
                    <div class="project-rating">
                      <cd-star-rating [rating]="project.performance"></cd-star-rating>
                    </div>
                    <div class="project-votes">
                      {{ project.votesReceived }}
                      <span class="votes-title" translate>{{ project.votesReceived === 1 ? 'vote' : 'votes' }}</span>
                    </div>
                  </li>
                  <li class="buttons">
                    <button (click)="share(project)" type="submit" class="btn btn-outline btn-share">
                      <span translate>Share</span>
                    </button>
                    <button *ngIf="project.canVote && project.underVoting" (click)="vote(project)" type="button"
                            class="btn btn-outline btn-vote" [disabled]="isLocked" translate>
                      <span translate>Vote</span>
                    </button>
                    <button *ngIf="canAbstractProjectBeSubmittedToVote(project)"
                            (click)="onShowConfirmDialog(project)"
                            type="button" class="btn btn-outline btn-submit-vote" [disabled]="isLocked">
                      <span translate>Submit to vote</span>
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<cd-confirm-dialog
  [showDialog]="showConfirmDialog"
  [width]="500"
  [positionLeft]="confirmDialogLeftPosition"
  [positionTop]="300"
  [isLocked]="isLocked"
  (cancel)="onHideConfirmDialog()"
  (confirm)="submitToVote()"
  [headerText]="LABELS.SUBMIT_TO_VOTE"
  [confirmationText]="LABELS.CONFIRM_DIALOG.CONFIRMATION_TEXT"
  [confirmButtonText]="LABELS.SUBMIT_TO_VOTE"
  [cancelButtonText]="LABELS.CONFIRM_DIALOG.CANCEL_BUTTON_TEXT"
>
