.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 50px;
}

.form-box {
  padding: 30px;
  border-radius: 10px;
  border: 1px black solid;
}

.logo-container {
  margin: 20px;
}

.logo {
  width: 250px;
}

.logo-title {
  font-size: 40px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.form-container {
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.form-box {
  padding: 30px;
  border-radius: 10px;
  border: 1px black solid;
}

.form-control {
  margin: 10px 0;
}

.button-submit {
  margin: 0 auto;
}

.form-group > input {
  margin-bottom: 0;
}

.form-group > label {
  display: inline-block;
  width: 150px;
  text-align: right;
}
