.button-wrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;

  .btn-social {
    margin: 7px;
    width: 100px;
    height: 40px;
    background-size: auto 100%;
    background-position: center center;

    &.facebook {
      background-color: #3b579d;
      background-image: url('assets/socials/fb2.png');
    }

    &.google {
      background-color: #DC4538;
      background-size: auto 60%;
      background-image: url('assets/socials/google2.png');
    }

    &.twitter {
      background-color: #55ACEE;
      background-size: auto 60%;
      background-image: url('assets/socials/twitter2.png');
    }
  }
}
