<div class="search-box-container">
  <form (submit)="search()" [formGroup]="searchForm">
    <div class="search-container">
        <input pInputText #searchInput placeholder="{{'Type address' | translate}}" formControlName="query" type="text" [ngClass]="{'error-input': (searchForm.get('query').invalid || showError) && searchForm.get('query').touched}">
        <button type="button" class="search-btn" (click)="search()">
          <img src="assets/svg/search.svg" alt="search">
        </button>
    </div>
    <span *ngIf="showError" class="error" translate>Try another way to enter this address</span>
  </form>
</div>
