<div class="score-container">
  <span class="score-profile">
    <span class="rainbow-text score-result"> {{ getCurrentScore() }}</span> <img src="assets/graphism/award/codecoin.png" class="codecoin">
  </span>
</div>
